<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VCWallet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/login_form.css">
</head>

<body>
    <div class="LoginForm">
        <!-- Logo -->
        <h1 class="LoginForm_Logo">VCWallet</h1>
        <!-- Info -->
        <div class="LoginForm_List">
            <input class="ResetInput LoginForm_Item" type="email" placeholder="email">
            <input class="ResetInput LoginForm_Item" type="password" placeholder="password">
            <button class="ResetButton LoginForm_Item Form_Btn Btn-Login" type="submit">SIGN IN</button>
            <button class="ResetButton LoginForm_Item Form_Btn Btn-Google" type="submit">CONTINUE WITH GOOGLE <i
                    class="bx bxl-google google-icon"></i></button>

            <h3 class="LoginForm_Footer">you dont have an account, signup in <a class="ResetTagA"
                    href="/src/main/resources/templates/Register.html">Here</a></h3>
        </div>

    </div>

    <div class="Bitcoin"><img src="../static/img/Btcicon.png" alt="Bitcoin Icon" width="228px"></div>
    <div class="Eth"><img src="../static/img/Ethicon.png" alt="Eth Icon" width="150px"></div>
    <div class="Vnd"><img src="../static/img/Vdnicon.png" alt="Vnd Icon" width="150px"></div>
    <div class="Sui"><img src="../static/img/Suiicon.png" alt="Sui Icon" width="150px"></div>
    <div class="Link"><img src="../static/img/Linkicon.png" alt="Link Icon" width="100px"></div>



</body>

</html>