<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="/src/main/resources/static/css/styleNav.css">
<nav class="Nav-menu">
    <div class="Nav-list">
        <div class="Nav-item"><img src="/src/main/resources/static/img/IconHome.png" alt=""></div>
        <div class="Nav-item"><img src="/src/main/resources/static/img/IconUser.png" alt=""></div>
        <div class="Nav-item"><img src="/src/main/resources/static/img/IconMessage.png" alt=""></div>
        <div class="Nav-item"><img src="/src/main/resources/static/img/iconNotifi.png" alt=""></div>
        <div class="Nav-item"><img src="/src/main/resources/static/img/iconHistory.png" alt=""></div>
    </div>
    <div class="Icon-setting"><img src="/src/main/resources/static/img/IconSetting.png" alt=""></div>
</nav>